<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] [%mdc{messageId}] %logger.%M : %line : %msg%n</pattern>
        </encoder>
    </appender>
    
   <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.log.root}/password-utility.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${app.log.root}/archived/password-utility-%d{yyyy-MM-dd-HH}.log
            </FileNamePattern>
        </rollingPolicy>

        <encoder>
            <Pattern>%date %level [%thread] %logger.%M : %line : %msg%n</Pattern>
        </encoder>
    </appender>
    
    <logger name="com.wiley.bir.application" level="${app.root.log.level:-DEBUG}" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>
    
    <root level="${app.root.log.level:-DEBUG}">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
  
 </configuration>
